.results__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: #010851;
  margin-bottom: 42px;
}

.results__text {
  width: 50%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.results__img-box {
  height: 420px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
}

.results__list {
  padding-bottom: 20px;
  background-color: #fff;
  cursor: pointer;
}

.results__item {
  padding: 20px;
}

.results__inner {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 30px;
  background-color: #fff;
  padding: 20px;
}

.results__content {
  padding: 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.results__name {
  width: 100%;
  font-size: 36px;
  line-height: 35px;
  font-weight: 700;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.results__inner-item {
  max-width: 180px;
}

.results__section {
  font-size: 25px;
  line-height: 40px;
}

.results__score {
  font-size: 25px;
  line-height: 40px;
  font-weight: 700;
}

.results__band-score {
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.results__band-score-text {
  font-size: 25px;
  line-height: 40px;
  font-weight: bold;
}

.results__real-band-score {
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
}

.slider-btn {
  width: 50px;
  border-radius: 10px;
  background: #323232;
  color: #ed80fd;
  height: 50px;
  font-size: 22px;
  position: absolute;
  top: 0;
  right: 80px;

  i {
    margin: auto;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.prev-btn {
  width: 50px;
  border-radius: 10px;
  background: #323232;
  color: #ed80fd;
  height: 50px;
  font-size: 22px;
  position: absolute;
  top: 0;
  right: 20px;

  i {
    margin: auto;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 1200px) {
  .results__title {
    font-size: 38px;
  }

  .results__name {
    font-size: 26px;
  }

  .results__band-score-text {
    font-size: 20px;
  }

  .results__real-band-score {
    font-size: 25px;
  }
}

@media screen and (max-width: 450px) {
  .results__content {
    padding: 5px;
  }
}